---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";

// Our variables
$base-font-sans:  'Source Sans Pro', Helvetica, sans-serif;
$base-font-serif: 'Merriweather', Georgia;
// $font-serif:       'Merriweather', Georgia;
// $font-normal:      400;
// $font-bold:        700;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

$spacing-unit:     30px;

// The color pallet is a subset of Google Material Design.
// https://www.google.com/design/spec/style/color.html
$pallet-white:         #ffffff;
$pallet-black:         #000000;

$pallet-grey:          #616161;
$pallet-light-grey:    #e0e0e0;
$pallet-vlight-grey:   #fafafa;
$pallet-dark-grey:     #424242;
$pallet-vdark-grey:    #212121;

$pallet-blue:          #01579b;
$pallet-light-blue:    #2196f3;
$pallet-orange:        #ffab40;
$pallet-red:           #b71c1c;

$background-color:     $pallet-white;
$text-color:           $pallet-vdark-grey;

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;

// Using media queries with like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "lib/bourbon/bourbon",
  "fonts",
  "layout",
  "syntax-highlighting"
;
